doctype html
html
    head
        title Моя первая Веб-страница 
        link(rel="stylesheet", href="../css/mycss.css" ) 
body
    img (src="../image/skillfactory_logo_bl.svg", alt= логотип, width="300")
    <!--<nav>  
        <a href="./index.html"><img src="../image/skillfactory_logo_bl.svg" width="300"></a>
        <ul class= "nav">
            <li> <a href="./index.html">Главная</a></li>
            <li> <a href="./about.html">О нас</a></li>
            <li> <a href="contacts.html">Контакты</a></li>
        </ul>
    </nav>-->
   
    main
        p 
            <h2>Контакты
            Адрес в Москве:<b> ул. Верхоянская, дом 6</b>