doctype html
html
    head
        meta(charset='UTF-8')
        title Моя первая Веб-страница
        link (href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&, display=swap", rel="stylesheet") 
        link(rel="stylesheet", href="../css/mycss.css" ) 
body
    a(href="./index.html")
        img (src="../image/skillfactory_logo_bl.svg", alt= логотип, width="300")
   
    main
     div class="skf" 
        img (class="leftimg", align="left", src ="../image/skillf-08.jpg", alt= logo-SkillFactory, width="500", height="300" )
       h2 &nbsp &nbsp &nbsp &nbsp Вместо введения
       p
         |   Это мой первый сайт на платформе SkillFactory.<br>
         |  Сама организация SkillFactory занимется онлайн обучением в области информационных технологий.
         |  С 2016 года SkillFactory разработала и запустила 25 курсов и специализаций, 
         |  обучение по которым прошли уже более 9000 студентов, и стала 
         |  лидером на рынке онлайн-образования в сегменте Data Science.<br>
         |  SkillFactory развивает направление корпоративного обучения,
         |  помогая крупнейшим российским компаниям расширять и усиливать
         |  свои технические команды.<br>
         |  SkillFactory помогает  компаниям в цифровой трансформации по направлениям: Data Science,
         |  Data-Driven мышление и управление IT-продуктами.
       p
         | В текущее время мы изучаем модуль №5 "Базовый HTML"
         | Для меня наибольшие трудности вызвал модуль по изучению программы Git. 
         | Меня смутило обилие разной литературы с совершенно различными сведенияи,
         | которые ни разу у меня не сработали так, как мне нужно.
       
       
   script(type="module", src = "../src/index.js")
